In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df1= pd.read_csv('data.csv')
df2= pd.read_csv('WinnersInterviewBlogPosts.csv')

In [9]:
df1.head()
df2.head()

,title,link,publication_date,content
0,Computer scientist Jure Zbontar on winning the...,http://blog.kaggle.com/2010/06/09/computer-sci...,2010-06-09 18:22:29,My approach was actually quite simple. The onl...
1,How I won the Predict HIV Progression data mi...,http://blog.kaggle.com/2010/08/09/how-i-won-th...,2010-08-09 12:35:46,<strong>Initial Strategy</strong>\r\n\r\nThe g...
2,How I did it: Lee Baker on winning Tourism For...,http://blog.kaggle.com/2010/09/27/how-i-did-it...,2010-09-27 18:30:25,<strong>About me:</strong>\r\nI’m an embedded ...
3,How I did it: The top three from the 2010 INFO...,http://blog.kaggle.com/2010/10/11/how-i-did-it...,2010-10-11 13:31:35,The 2010 INFORMS Data Mining Contest has just ...
4,How I did it: Jeremy Howard on finishing second,http://blog.kaggle.com/2010/11/19/how-i-did-it...,2010-11-19 17:39:47,"Wow, this is a surprise! I looked at this comp..."

In [7]:
#make new df with title and text
df3 = pd.DataFrame()
df3['title'] = df1['title']
df3['text'] = df1['text']
df3['text'] = df3['text'].astype(str)

In [10]:
df4 = pd.DataFrame()
df4['title'] = df2['title']
df4['text'] = df2['content']
df4['text'] = df4['text'].astype(str)

In [11]:
df4.head()

,title,text
0,Computer scientist Jure Zbontar on winning the...,My approach was actually quite simple. The onl...
1,How I won the Predict HIV Progression data mi...,<strong>Initial Strategy</strong>\r\n\r\nThe g...
2,How I did it: Lee Baker on winning Tourism For...,<strong>About me:</strong>\r\nI’m an embedded ...
3,How I did it: The top three from the 2010 INFO...,The 2010 INFORMS Data Mining Contest has just ...
4,How I did it: Jeremy Howard on finishing second,"Wow, this is a surprise! I looked at this comp..."

In [12]:
#concat the two dataframes
df5 = pd.concat([df3, df4], axis=0, ignore_index=True)
df5.head()

,title,text
0,Terrorists and false positives,Matt Yglesias calculates:\n\nâ€¦monitoring the...
1,Public Domain Day,Today is Public Domain day and James Boyle rep...
2,Markets in Everything: Placebos,Is there any drug that helps more conditions w...
3,Peter Boettkeâ€™s announcement,"\nAs of January 1, 2010, we are changing our n..."
4,How to capture an idea,"From Joanne McNeil, this is one of my favorite..."

In [13]:
print(df1.shape, df2.shape, df5.shape)

(12820, 22) (182, 4) (13002, 2)

In [14]:
#save the new df
df5.to_csv('data_combined.csv', index=False)

In [16]:
#convert to json format
df5_json = df5.to_json(orient='records', lines=True)